/* Fixer l'arrière plan */

*{
padding:0;
}
 
body, html{
  height:100%;
}
.other{
    background-image:url(Images/hospital.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.info{
	
	background-image:url(Images/fond1.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.list{
	
	background-image:url(Images/stetho.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} 

body{
	
}
.left{
	float:left; 
	margin-top: -50px;
	margin-left: -50px;
}


.mdl-textfield {

  max-width : 10%;
  color:#FF4081 ;

}
.mdl-radio{

}
.buttonplus{

  position : fixed;
  bottom: 40px;
  right: 40px;
  z-index: 100;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2), 0 24px 80px 0 rgba(0, 0, 0, 0.19); 


}

.header{

    border-radius: 15px 150px 150px 15px; /* A ajuster pour les différents items que l'on possède */
    background: #FFFFFF; /*on utilise les couleures données par google*/
     /*distance de ses bords*/
    padding : 5px;
    padding-right: 20px;
    position : fixed;
    margin : 10px;
    z-index: 200;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2), 0 24px 80px 0 rgba(0, 0, 0, 0.19);  /* le shadow a garder : on multiplie les valeures par 2 pour augmenter la pseudo hauteur; */
	align-items: center; /* On les centre verticalement, sinon ils se retrouvent tous en haut du bloc header */
	display: inline;
}


.Box{
    border-radius: 15px 150px 150px 15px; /* A ajuster pour les différents items que l'on possède */

    background: #FFFFFF; /*on utilise les couleures données par google*/
    position: absolute; 
    margin: 200px; /*distance de ses bords*/
    margin-bottom: 0px;
    padding : 40px; 
	
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);

}

/*box show/hide + dinfo*/
.more{
    border-radius: 100px 100px 100px 100px; /* A ajuster pour les différents items que l'on possède */

    background: #FFFFFF; /*on utilise les couleures données par google*/
    position: absolute; 
    margin: -100px; /*distance de ses bords*/
    margin-bottom: -100px;
    padding : 100px; 
	width: 20%;
	margin-left: 45%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);


}
 /*horloge pageinfo*/
 .horloge{
	 margin-right: 40px;
	 margin-top: 50px;
   position: absolute;

	 
 }
 

form{
  display: inline;
}


.mdl-checkbox{
  display: inline;

}
.infobox{
  border-radius: 15px 150px 150px 15px; /* A ajuster pour les différents items que l'on possède */
    background: #FFFFFF; /*on utilise les couleures données par google*/
    position: relative; 
    margin: 10px; /*distance de ses bords*/
    padding : 8px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);



}


.mdl-checkbox.is-focused.is-checked .mdl-checkbox__focus-helper{
  box-shadow:0 0 0 8px 
}

}
button{

  margin-right: 50px;
}

.rightfoot1{

  margin-left: 50%;

  display: inline;
}

.navbar{

display: inline;
margin-right: 10px;
text-align: center;

}

.menu{

  font-size: 36px;
  margin-left: 50px;

}
th{
  margin: 20px;
}
h2{
  margin-top: 10%;
  position: absolute;
  opacity: 0.54;
  margin-left: 40%;
  margin-bottom: 50px;

}
h3{
  opacity: 0.82;
}
.list{
    position: absolute;
    margin-top: 15%;
    left : 50px;
    margin-right: auto;
  
}
.mdl-card{

  margin-right: 20px;
  margin-bottom: 5px;

}

.mdl-chip{
  
  margin-top: 40px;


}
.inline{
display: inline-block;

}
.space{

margin-top: 20px;

}
.datepicker{

  margin-left: 20%;
  position: fixed;
  top: 30%;
  z-index: 400;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px 150px 150px 15px;
  background: #FFFFFF; /*on utilise les couleures données par google*/
     /*distance de ses bords*/
  padding : 5px;
  padding-right: 20px;
}



/* CARD */
.demo-card-event.mdl-card {
  width: 192px;
  height: 192px;
  background: #3E4EB8;
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}

/* Position du footer */
footer{
background-color: lightgrey;
position: absolute ;
bottom:0px;
width:100%;
top: 800px; /* A MODIFIER A CHAQUES FOIS QU'ON AJOUTE UNE LIGHE !!!!*/
padding-top:10px;
height:30px;
margin-top: 10%;
}

